body{
    background-color: lightgray;
}

.left-container, .right-container{
    display:inline-block;
    background-color:white;
    border-radius: 5px 5px 5px 5px;
}

.right-container{
    float: right;
    width:300px;
    padding: 10px;
}
.left-container{
    margin-bottom: 10px;
    margin-right: 20px;
}
.bl-background{
    width: 1000px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: lightgray;

}
.minus-button{
    background-color:mediumseagreen;
    color:white;
    border-radius: 20px 20px 20px 20px;
    width: 30px;
    height: 30px;
}
.plus-button{
    background-color:lightcoral;
    color:white;
    border-radius: 20px 20px 20px 20px;
    width: 30px;
    height: 30px;
}
.plus-button, .plus-button, .count{
        display:inline-block;
}
.delete-button{
    background-color:lightcoral;
    color:white;
    border-radius: 5px 5px 5px 5px;
    width: 30px;
    height: 30px;
}

.bought-button{
    border-radius: 5px 5px 5px 5px;
    height: 30px;
}

.input-add-container{
    padding: 5px;
}
.product-input{
    margin-right: 0;
}

.add-button{
    background-color:dodgerblue;
    border-radius: 5px 5px 5px 5px;
    color: white;
    height: 30px;
    width:  100px;
    margin-left: 0;
}


.rest-product-title,.rest-products-count, .rest-product-titles{
        display:inline-block;    
}
.rest-product-titles{
    background-color: lightgrey;
    padding: 5px;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    height: 20px;

}
.rest-products-count{
    background-color: orange;
    border-radius: 20px 20px 20px 20px;
    padding: 3px;
    width: 15px;
    height: 15px;

}
.rest-products-container{
    padding: 5px;
    height: 30px;
}
.product-title, .plus-minus-operations, .product-state-butoons{
        display:inline-block;
}

.products-and-operations{
    padding: 5px;
}

.plus-minus-operations{
    margin-left: 160px;
    margin-right: 160px;
}
.product-state-butoons{
    margin-left: 0;
}
.product-title{
    width: 100px;

}
.product-input{
    width: 500px;
    height: 20px;
        
}
.badge{
    position: fixed;
    transition: all 600ms ease-in-out;
    left:20px;
    bottom: -40px;
    border-radius: 5px 5px 0 0;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 60px;
}
.badge:hover{
    bottom: 0;
    background-color: blue;
}
.badge-title, .badge-body{
    color: white;
    font-size: 16px;
}
.badge-body{
    margin-top: 10px;
    font-size: 12px;
}


@media print{
    .badge-title{
        display: none;
    }
    .badge{
        bottom: 0;
        color: black;
        border: 2px solid black;
    }
    .badge-body{
        color: black;
        font-size: 16px;
    }
}

.add-button:hover::after, .minus-button:hover::after, .bought-button:hover::after, .delete-button:hover::after, .plus-button:hover::after{ 
 content: attr(tooltip);
    position: absolute; 
    margin: 0 auto .4em; 
    z-index: 1;
    background-color: blueviolet;
    color:white;
    height: 15px;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;


}

